.contain {
  width: 40vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contain a {
  list-style-type: none;
  font-size: 2rem;
}
.btn {
  text-decoration: none;

  border-radius: 13px;
  padding: 12px;
  margin: 8px;
  text-align: center;
  color: white;
}

.signup {
  background-color: green;
}

.login {
  background-color: blue;
}
